{% extends 'main.html' %}
{% block content %}
{% if message %}
<div class="alert alert-danger">{{ message }}</div>
{% endif %}
<div class="container">
    <center>

                <img src="{{url_for('static',filename='bvp.png')}}"></img>
            <h3 style="color:Tomato;">Bharati Vidyapeeth College Of Engineering, Pune</h3>
            <h3 style="color:Tomato;" > Final Year Project </h3>

    </center>
<hr>
    <br>

    <div class="card card-body" style="border: 1px solid black; box-shadow: 0 0 10px black;">
<center>  <h3> Chronic Kidney Disease Prediction</h3> </center>





        <br>
        <div class="row">
            <div class="col-md-12 card card-body" style="box-shadow: 0 0 5px black; margin: 5px;">

                <p>Chronic kidney disease, also called chronic kidney failure, describes the gradual loss of kidney
                    function. Your kidneys filter wastes and excess fluids from your blood, which are then excreted in
                    your urine. When chronic kidney disease reaches an advanced stage, dangerous levels of fluid,
                    electrolytes and wastes can build up in your body.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>Nausea</li>
                    <li>Vomiting</li>
                    <li>Fatigue and weakness</li>
                    <li>Muscle twitches and cramps</li>
                </ul>
            </div>
        </div>
        <br>

    </div>

    </div>
</div>
{% endblock %}